[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
scipy = "*"
numpy = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
pre-commit = "*"

[requires]
python_version = "3.8.1"
